<div class="catalog-deep2-filter">
    <ul class="section">
        <li class="item"><div>Вбудована техніка</div><ul class="inner-list">
            <li class="list-item"> Духові шафи</li>
            <li class="list-item"> Варильні поверхні газові</li>
            <li class="list-item"> Варильні поверхні електричні</li>
            <li class="list-item"> Витяжки кухонні</li>
            <li class="list-item"> Аксесуари для витяжок</li>
        </ul></li>
        <li class="item"><div>Підбір за параметрами</div>
            <div class="range-slider-box">
                <div class = 'range-slider-title'>Ціна</div>
                <span>від</span>
                <input type="text" id="amount1" class="range-price">
                <span>до</span><input type="text" id="amount2" class="range-price">
            </div>
            <div id="slider-range"></div>
        </li>
        <li class="item"><div>Бренд</div>
        <div class="brand-checkbox">
            <label class="container">Candy
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container">Cata Electrolux
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Eleyus
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Pyramida
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Wild Wind Zanussi
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

        </div></li>
    </ul>
</div>
