<div class="goods">
    <div class="view-panel">
        <div class="sort-look">
            <div class="sort">
<div class="text">Сортувати:</div>
<div class="sort-select">
    <select id="sort-select">
        <option value="popular">по популярности</option>
        <option value="cheaptoexp">по ціні від дорогих до дешевих</option>
        <option value="exptocheap">по ціні від дешевих до дорогих</option>
        <option value="rate">по рейтингу</option>
        <option value="newness">по новизні</option>
    </select>
</div>
            </div>
            <div class="look">
                <div class="text">Вигляд:</div>
                <div class="tile-icon active"></div>
                <div class="list-icon"></div>
            </div>
        </div>
    </div>
    <div class="box">
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    <!--#insert file="./__goodscard/--goodscard.html"-->
    </div>
</div>